/* typography */

*{margin:0; padding:0; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
*:after,*:before{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
table { border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal; }
caption,th {text-align:left;}

q:before,q:after {content:'';}
abbr,acronym { border:0;}
header,nav,section,article,aside,footer,hgroup,figure {display: block; }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
/* Firefox */
input[type=number] {-moz-appearance: textfield;}

button:focus, input:focus, .form-control:focus, .btn:focus, .btn-close:focus,.page-link:focus{outline: none ;box-shadow: none;outline-color: transparent;outline-width: 0;border-color: unset;}
h1,h2,h3,h4,h5,h6,p,ul,ol,figure{margin-bottom: 0;}
html, body{max-width: 100%;}
img{max-width: 100%;height: auto;}
.modal-content{border: 0;}
ul,li{list-style: none;padding: 0;}
.custom-control-input:focus~.custom-control-label::before,.form-check-input:focus{box-shadow: none;}
a, a:hover{text-decoration: none;outline: 0;outline-color: transparent;outline-width: 0;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
button{-webkit-appearance: none;-moz-appearance: none;appearance: none;}

/*font family*/

:root {
    --font-itim: "Itim", cursive;
    --font-roboto: "Roboto", sans-serif;
  }



/*font family*/

body {font-size:16px;width: 100%;color: #000;font-weight: 400;font-family: var(--font-itim);background: linear-gradient(to bottom, black 0%, black 50%, #00d8e9 100%);background-repeat: no-repeat;}
.container{max-width: 1280px; margin: 0 auto;padding: 0 16px;}
.wrapper{width: 100%;overflow: hidden;}
.error{ color: red !important; font-size: 14px;}
.bdr_radius{border-radius: 16px;}

/* typography */

.header .navbar-toggler-icon{background-image: url(../img-videos/hamburger.svg);background-repeat: no-repeat;background-size: cover;width: 40px;height: 40px;}
.header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {background-image: url(../img-videos/hamburger-close.svg);background-repeat: no-repeat;background-size: cover;}
.header .navbar-toggler{box-shadow: none;}
.overview_page{margin: 50px;background-color: #20242d;border-radius: 40px;border: 0;padding: 30px 80px;padding-bottom: 40px;}
.header{font-family: var(--font-roboto);}
.header .navbar-brand{font-size: 36px;pointer-events: none;}
.header .nav-link{font-size: 24px;padding:12px 24px !important;pointer-events: none;}
.header .navbar-brand, .header .nav-link{color: #fff !important;}
.header .nav-link.active{color: #00d8e9 !important;}
.intro{padding-top: 40px;color: #fff;}
.intro h1{color: #00d8e9;}
.intro .col-md-5 img{border-radius: 30%;height: 450px;}
.intro li{padding-right: 20px;}
.intro li:last-child{padding-right: 0;}
.intro p{max-width: 600px;}
.intro .cv_btn{background-color: #00d8e9;color: #fff;padding: 12px 24px;border-radius: 12px;display: inline-block;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 216, 233, 0.5);transition: all 0.3s ease;}
